{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
	{% block content %}
				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="fab fa-btc fa-2x" style="margin-top: 31%;"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Digital Gold</h1>
								<p>A rising tide lifts all boats</p>
								
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#signals">Signals</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>


				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="{% static 'images/pic01.png' %}" alt="" /></span>
								<h3>Bitcoin is a decentralized digital currency created in January 2009.</h3>
								<p> The identity of the person or persons who created the technology is still a mystery. 
									Bitcoin offers the promise of lower transaction fees than traditional online payment mechanisms do, and unlike government-issued currencies, it is operated by a decentralized authority.
									Bitcoin is known as a type of cryptocurrency because it uses cryptography to keep it secure. There are no physical bitcoins, only balances kept on a public ledger that everyone has transparent access to (although each record is encrypted). 
									All Bitcoin transactions are verified by a massive amount of computing power via a process known as "mining." Bitcoin is not issued or backed by any banks or governments, nor is an individual bitcoin valuable as a commodity.
								</p>
							</article>
							

						<!-- Work -->
							<article id="signals">
								<h2 class="major">BTC/USD Technical Signals</h2>
								<span class="image main"><img src="{% static 'images/pic02.png' %}" alt="" /></span>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th><h3>INDICATOR</h3></th>
												<th><h3>SIGNAL</h3></th>
											</tr>
										</thead>
										<tbody>
											<tr>																								
												<td>Double Exponential Moving Average</td>
												<td class="align-center">{{ bitcoin.dema|upper }}</td>												
											</tr>
											<tr>																								
												<td>Exponential Moving Average</td>
												<td class="align-center">{{ bitcoin.ema|upper }}</td>												
											</tr>
											<tr>																								
												<td>Hilbert Transform - Instantaneous Trendline</td>
												<td class="align-center">{{ bitcoin.ht|upper }}</td>												
											</tr>
											<tr>																								
												<td>Kaufman Adaptive Moving Average</td>
												<td class="align-center">{{ bitcoin.kama|upper }}</td>												
											</tr>
											<tr>																								
												<td>Parabolic SAR</td>
												<td class="align-center">{{ bitcoin.sar|upper }}</td>												
											</tr>
											<tr>																								
												<td>Simple Moving Average</td>
												<td class="align-center">{{ bitcoin.sma|upper }}</td>												
											</tr>
											<tr>																								
												<td>Triple Exponential Moving Average</td>
												<td class="align-center">{{ bitcoin.trima|upper }}</td>												
											</tr>
											<tr>																								
												<td>Weighted Moving Average</td>
												<td class="align-center">{{ bitcoin.wma|upper }}</td>												
											</tr>
											
										</tbody>
									</table>
									<small><p>Last updated: {{ bitcoin.date_added }} UTC</p></small>
								</div>
							</article>
								

							
						

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="{% static 'images/pic03.png' %}" alt="" /></span>
								<h3>Technical Analysis is a research technique to identify trading opportunities in the market based on market participants’ actions.</h3>
								<p>The theory behind the validity of technical analysis is the notion that the collective actions – buying and selling – of all the participants in the market accurately reflect all relevant information pertaining to a traded security, 
									and therefore, continually assign a fair market value to the security. Technical analysis is not only used by technical traders. Many fundamental traders use fundamental analysis to determine whether to buy into a market, but having made that decision, 
									then use technical analysis to pinpoint good, low-risk buy entry price levels.</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<p>Subscribe to our CryptoStrategy eNewsletter </p>
								<form method="post" action="{% url 'index' %}">
									{% csrf_token %}
									<div class="fields">
										<div class="field half">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" required/>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Subscribe" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						
					</div>

			{% endblock %}